@model MVC_Core_Project.Models.Subject
@{
    ViewData["Title"] = "CreateSingle";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Subject</h4>
    </div>
    <div class="card-body">
        @if (ViewBag.PostBack != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Success!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Data Save Successfully.</p>
            </div>
        }
        <form asp-action="CreateSingle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="DepartmentId" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <select class="form-control" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId", "DepartmentName"))">
                        <option value="">Select</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SubjectName" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <input asp-for="SubjectName" class="form-control" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Duration" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4 offset-2">
                    <input type="submit" value="Save data" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

        <div class="d-flex">
            <a class="card-link" asp-action="Index"><span class="fa fa-long-arrow-left"></span> Back to list</a>
            <a class="card-link ml-auto" asp-action="Index">Assign course <span class="fa fa-long-arrow-right"></span></a>
        </div>

    </div>
</div>


@section styles {

    <environment include="Development">
        <link href="~/libs/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/libs/gijgo/css/gijgo.css" rel="stylesheet" />
        <link href="~/libs/bs4-toast/toast.min.css" rel="stylesheet" />
    </environment>
}
@section scripts {
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/validation/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/bs4-toast/toast.min.js"></script>


}

